@model IEnumerable<OnlineBookstore.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Library</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" value="Filter" />
    </p>
     }
<br />
  
    <table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				Price
			</th>
			<th>
				Publication Date
			</th>
			<th>
				User Review
			</th>
			<th>
				Supplier Name
			</th>
			<th></th>
		</tr>

        @foreach (var item in Model)
        {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Price)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PublicationDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.UserReview)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Supplier.Name)
		</td>
		<td>
			@Html.ActionLink("Order", "Order", new { id = item.ISBN }) |

			@if (ViewBag.displayMenu == "Yes")
			{
				@Html.ActionLink("Edit", "Edit", new { id = item.ISBN }) } |

			@Html.ActionLink("Details", "Details", new { id = item.ISBN }) |

			@if (ViewBag.displayMenu == "Yes")
			{
				@Html.ActionLink("Delete", "Delete", new { id = item.ISBN })
			}
			</td>
	</tr>
        }

    </table>
